
<mat-vertical-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Nome Da empresa</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input #nomeDaEmpresa matInput formControlName="firstCtrl" placeholder="Ex. Google" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Razão Social</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Razão Social</mat-label>
          <input #razaoSocial matInput formControlName="secondCtrl" placeholder="Ex. Google inc." required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="terceiroFormGroup">
      <form [formGroup]="terceiroFormGroup">
        <ng-template matStepLabel>Quantidade de Funcionarios</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Quantidade de Funcionarios</mat-label>
          <input #qtdeFuncionarios matInput formControlName="terceiroCtrl" placeholder="Ex. 32" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h2>Informaçoes Corretas</h2>
      <p>{{nomeDaEmpresa.value}}</p>
      <p>{{razaoSocial.value}}</p>
      <p>{{qtdeFuncionarios.value}}</p>
      <div>
        <button mat-button (click)="postTeste(nomeDaEmpresa.value , razaoSocial.value, qtdeFuncionarios.value)">Enviar</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
