<h1 mat-dialog-title>Tem Certeza que Deseja Deletar ?</h1>
<div mat-dialog-content>
  <p>{{data.company.nomeFantasia}}</p>
  <p>{{data.company.razaoSocial}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>