img {
    width: 40px;
    border-radius: 100%;
    height: 40px;
}

mat-expansion-panel {
    max-width: 700px;
}

ul {
    list-style-type: none;
}

  
.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
  
.headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}