<ng-template [ngIf]="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<div *ngIf="erro">Sinto muito algo deu errado</div>

<ul>
  <mat-accordion class="headers-align" multi>
    <li *ngFor="let teste of title">
      <ng-template [ngIf]="teste.active">
        <mat-expansion-panel
          [expanded]="step === teste.id"
          (opened)="setStep(teste.id)" 
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img [src]="teste.avatarUrl" />
            </mat-panel-title>
            <mat-panel-description>
              <b>{{ teste.nomeFantasia }}</b>
              {{ teste.razaoSocial }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form>
            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input
                      #nomeFantasia
                      matInput
                      placeholder="Ex. Google"
                      [value]="teste.nomeFantasia"
                    />
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Razão Social</mat-label>
                    <input
                      #razaoSocial
                      matInput
                      placeholder="Ex. Google inc."
                      [value]="teste.razaoSocial"
                    />
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Quantidade de Funcionarios</mat-label>
                    <input
                      #qtdeFuncionarios
                      matInput
                      type="number"
                      placeholder="Ex. 105"
                      [value]="teste.qtdeFuncionarios"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
          <mat-action-row>
            <button
              mat-button
              color="warn"
              [matTooltip]="'Delete ' + teste.nomeFantasia"
              (click)="deleteDialog(teste.id, teste)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-button
              color="primary"
              (click)="
                openDialog(
                  teste.id,
                  nomeFantasia.value,
                  qtdeFuncionarios.value,
                  razaoSocial.value
                )
              "
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-template>
    </li>
  </mat-accordion>
</ul>
