<h1 mat-dialog-title>Tem Certeza que Deseja Alterar ?</h1>
<div mat-dialog-content>
  <p><b>Nome:</b>         {{data.nomeFantasia}}</p>
  <p><b>Razão Social:</b> {{data.razaoSocial}}</p>
  <p><b>Funcionarios:</b> {{data.qtdeFuncionarios}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>