/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%; 
    display: flex;
    justify-content: center;
    background-color: #ebf8f6;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
